html {
	background: azure;
	color: black;
}

p {
	text-align: justify;
}

.card {
	font-family: monospace;
	font-size: 1.1rem;
	display: inline-block;
	min-width: 15ex;
	line-height: 1.5;
	border: solid thin black;
}

.card.lacking {
	border: none;
}

.cardtext, .cardpattern {
	text-align: center;
}

.cardslot {
	display: inline-block;
}

[type="submit"] {
	min-height: 3em;
	min-width: 6em;
}

.active {
	background: powderblue;
	color: black;
}

form h4 {
	display: inline;
}

.preline {
	white-space: pre-line;
}

.column {
	display: inline-block;
	vertical-align: top;
}

.narrow {
	max-width: 32ex;
}
