.card {
	display: inline-block;
	width: 8rem;
	border: solid thin black;
}

.card.lacking {
	border: none;
}

.cardtext, .cardpattern {
	text-align: center;
}

.targetcardlabel, .movingcardlabel {
	display: inline-block;
}
