{% load regame %}
<h4>Recently seen</h4>
{% if hideform %}
    <form action="{% url "player_hidden" %}" method="post">
    {% csrf_token %}
    {{ hideform }}
    <input type="submit" value="{{ hideform.submittext }}">
    </form>
{%  endif %}
<table>
{% for user in activeusers %}
    <tr>
        <th>{{ user.displayname }}</th>
        <td>{{ user.lastseen | naturaltime }}</td>
        <td><a href="{% url "new_match" %}?other_player={{ user.username }}">challenge</a></td>
    </tr>
{% endfor %}

</table>
