{% load regame %}
<h4>Recently seen</h4>
{% include "regame/maybeform.html" with csrf_token=csrf_token form=hideform viewname="player_hidden" only %}
<table>
{% for user in activeusers %}
    <tr>
        <th>
            {% if user.username == player.username %}
                you
            {% else %}
                {{ user.displayname }}
            {% endif %}
        </th>
        <td>{{ user.lastseen | naturaltime }}</td>
        <td>{% if user.username != player.username %}<a href="{% url "new_match" %}?player2={{ user.username }}">challenge</a>{% endif %}</td>
    </tr>
{% empty %}
    <p>Noone is here.</p>
    {% if user.is_authenticated and user.userprofile.hidden %}
        <p>Maybe they are hiding, just like you?</p>
    {% endif %}
{% endfor %}

</table>
