{% load regame %}
<h4>Recently seen</h4>
{% if hideform %}
    <form action="{% url "player_hidden" %}" method="post">
    {% csrf_token %}
    {{ hideform }}
    <input type="submit" value="{{ hideform.submittext }}">
    </form>
{%  endif %}
<table>
{% for user in activeusers %}
    <tr>
        <th>
            {% if user.username == player.username %}
                you
            {% else %}
                {{ user.displayname }}
            {% endif %}
        </th>
        <td>{{ user.lastseen | naturaltime }}</td>
        <td>{% if user.username != player.username %}<a href="{% url "new_match" %}?player2={{ user.username }}">challenge</a>{% endif %}</td>
    </tr>
{% endfor %}

</table>
