<!DOCTYPE html> {% load static %}
<html>
	<head>
		<title>{% block title %}Regame{% endblock %}</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{% static "regame/style.css" %}" />
		{% block head_tags %}{% endblock %}
	</head>
	<body>
		<header id="top_bar">
<a href="{% url 'main' %}">Main page</a>
{% if user.is_authenticated and user.userprofile.temporary %}
	You play as a stranger.
	After you end your matches,
	you can <a href="{% url 'login' %}">sign in</a>
	or
	<a href="{% url 'django_registration_register' %}">sign up</a>.
	<a href="{% url 'forget' %}">Forget me.</a>
{% elif user.is_authenticated %}
	Signed in as {{ user.userprofile.display_name }}.
	<a href="{% url 'logout' %}">Sign out</a>
{% else %}
	<a href="{% url 'login' %}">Sign in</a>
	or
	<a href="{% url 'django_registration_register' %}">sign up</a>.
{% endif %}
		</header>
		{% block content %}{% endblock %}
	</body>
</html>
