<div>
<p>{{ header }}</p>
<div class="cardrow {{ rowclass }}">
{% for cardpair in cards %}
{% if empty %}
    <div class="cardslot">
    {% include "regame/card.html" with card=cardpair.card.card cardclass=cardclass empty=empty only %}
    </div>
{% else %}
    <label class="cardslot">
    {% include "regame/card.html" with card=cardpair.card.card cardclass=cardclass empty=empty only %}
    <br/>
    {% if cardpair.card.card %}
    {{ cardpair.widget | default_if_none:"" }}
    {% endif %}
    </label>
{% endif %}
{% endfor %}
</div>
</div>
