<div>
<h4>How to play?</h4>
<p>This is a multiplayer card game involving regular expressions, strongly inspired by <a href="https://mekagem.itch.io/regxkcd">regxkcd</a>.</p>
<p>Each card has text on top and pattern at bottom.</p>
<p>A turn is divided into two phases: resupply and attack.</p>
<p>You resupply by taking one of your 4 cards you hold in hand and put onto table until there are 3 there.</p>
<p>Then you attack.
Choose order in which patterns on your cards (at least one) are concatenated.
If your pattern matches text on selected competitor's card, you get one point for each character matched, and that card is removed.</p>
<p>Winner is one who get 40 points first.</p>
<p>Other winning condition can be chosen before game if you wish.</p>
<p>Good luck!</p>
</div>
