{% extends "regame/base.html" %}

{% block head_tags %}
    <meta http-equiv="refresh" content="180" />
{% endblock %}

{% block content %}

{% if user.is_authenticated and not user.userprofile.temporary %}
<p>Nice to see you again, {{ user.userprofile.display_name }}!</p>
{% else %}
<p>Hello, stranger!</p>
{% endif %}
<a href="{% url 'new_match' %}">Challenge someone.</a>

{% if matchlinks %}
<h4>Matches</h4>
<ul>
{% for i in matchlinks %}
<li>
{% include "regame/matchlink.html" with match=i.match competitor=i.competitor %}
</li>
{% endfor %}
</ul>
{% endif %}

{% include "regame/activeusers.html" %}

{% endblock %}
