{% extends "regame/base.html" %}

{% block title %}
{% if player == match.current %}
[*]
{% endif %}
{{ competitor.username }} vs {{ player.username }} match
{% endblock %}

{% block head_tags %}
{% if reloading %}
<meta http-equiv="refresh" content="3" />
{% endif %}
{% endblock %}

{% block content %}

<p>{{ player.username }} vs {{ competitor.username }}</p>
<p>{{ playerscore }} : {{ competitorscore }}</p>

{% if match.active %}
<p> It's {{ match.current.username }}'s turn.</p>
{% else %}
<p>The match ended.</p>
{% endif %}

<form method="post" action="{{ actionurl }}" class="{% if player == match.current %}active{% endif %}">
{% csrf_token %}
<div>
<p>In hand:</p>
{% for cardpair in ownhandcards %}
<label class="cardslot">
{% include "regame/card.html" with card=cardpair.card.card only %}
<br/>
{{ cardpair.widget | default_if_none:"" }}
</label>
{% endfor %}
</div>

<div>
<p>On table:</p>
{% for cardpair in owntablecards %}
<label class="cardslot">
{% include "regame/card.html" with card=cardpair.card.card only %}
<br/>
{% if cardpair.card.card %}
{{ cardpair.widget | default_if_none:"" }}
{% endif %}
</label>
{% endfor %}
</div>

<div>
<p>On table, competitor's:</p>
{% for cardpair in competitortablecards %}
<label class="cardslot">
{% if cardpair.card.card %}
{{ cardpair.widget | default_if_none:"" }}
{% endif %}
<br/>
{% include "regame/card.html" with card=cardpair.card.card only %}
</label>
{% endfor %}
</div>

{%if actionurl %}
<input type="submit" value="Move" />
{% endif %}

{% if yourremovedcard or competitorsremovedcard %}
<div>
<p>Recently removed cards:</p>
{% if yourremovedcard %}
<div class="cardslot">
Your:<br/>
{% include "regame/card.html" with card=yourremovedcard only %}
</div>
{% endif %}
{% if competitorsremovedcard %}
<div class="cardslot">
Competitor's:<br/>
{% include "regame/card.html" with card=competitorsremovedcard only %}
</div>
{% endif %}
</div>
{% endif %}

</form>

{{ movedesc }}

{% endblock %}
