{% extends "regame/base.html" %}
{% load static %}

{% block title %}
{% if player == match.current %}
[*]
{% endif %}
{{ competitor.userprofile.display_name }} vs {{ player.userprofile.display_name }} match
{% endblock %}

{% block head_tags %}
{% if reloading %}
<meta http-equiv="refresh" content="6" />
{% endif %}
{% endblock %}

{% block content %}

<div class="column">
<p>
    {{ player.userprofile.display_name }} vs {{ competitor.userprofile.display_name }}.
</p>
<p>
    Current score: <strong>{{ playerscore }} : {{ competitorscore }}</strong>. {% if match.active %} {% include "regame/wincondition.html" %} {% endif %}
</p>

{% if match.active %}
<p> It's
 {% if user == match.current %}
     your
 {% else %}
    {{ match.current.userprofile.display_name }}'s
 {%  endif %}
    turn.</p>
{% else %}
<p>The match ended.</p>
{% endif %}

{%  include "regame/matchlist.html" with list=freshmatches header="There are new challenges for you" %}

<form method="post" action="{{ actionurl }}" class="{% if player == match.current and match.active %}active{% endif %}">
{% if form.header %}
<h4 class="preline">{{ form.header }}</h4>
{% endif %}
{% csrf_token %}
{{ form.action }}

{% include "regame/cardrow.html" with header="In hand, your:" cards=ownhandcards rowclass="yourhandrow" only %}
{% include "regame/cardrow.html" with header="On table, your:" cards=owntablecards rowclass="yourtablerow" only %}

{%if actionurl %}
<div class="submitarea">
{{ form.non_field_errors }}

<input type="submit" value="{{ form.submittext | default_if_none:"Move" }}" />
</div>
{% endif %}

{% include "regame/cardrow.html" with header="On table, competitor's:" cards=competitortablecards rowclass="competitortablerow" only %}
{% include "regame/cardrow.html" with header="In hand, competitors's:" cards=ownhandcards rowclass="competitorhandrow" cardclass="facedown" empty=True only %}
</form>

<div>
    <h4>Match control</h4>
    {% include "regame/maybeform.html" with csrf_token=csrf_token form=movekindform only %}
</div>

{% if yourremovedcard or competitorsremovedcard %}
<div>
<p>Recently removed cards:</p>
{% if yourremovedcard %}
<div class="cardslot">
Your:<br/>
{% include "regame/card.html" with card=yourremovedcard only %}
</div>
{% endif %}
{% if competitorsremovedcard %}
<div class="cardslot">
Competitor's:<br/>
{% include "regame/card.html" with card=competitorsremovedcard only %}
</div>
{% endif %}
</div>
{% endif %}
</div>
<div class="column narrow">
    {% include "regame/reminder.html" %}
    {% include "regame/howtoplay.html" %}
</div>

{{ movedesc }}

{% endblock %}

{% block scripts %}
    <script src="{% static "regame/scripts/match.js" %}"></script>
    <script src="{% static "regame/scripts/match_notifications.js" %}"></script>
{% endblock %}
