<h4>Quick reminder</h4>
<ul>
    <li class="preline"><code>\w</code> is any letter, digit or underscore.</li>
    <li class="preline"><code>\W</code> is anything but letter, digit or underscore.</li>
    <li class="preline"><code>\d</code> is any digit.</li>
    <li class="preline">Characters in <code>[brackets]</code> is one of those characters.
        Dash means range eg. <code>[a-z]</code> is lowercase letter.</li>
    <li class="preline"><code>(foo|bar)</code> is one of <code>foo</code> or <code>bar</code></li>
    <li class="preline"><code>{number}</code> is that many repetition of previous pattern.</li>
    <li class="preline"><code>{number,}</code> is at least that many repetition.</li>
</ul>
